div.container {
  max-width: 1400px;
  color: white;
  margin-top: 100px;
  display: block;
}

section {
  max-width: 100%;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-gap: 100px;
}

.gridTwoColumns {
  grid-template-columns: 1fr 1fr;
}

.introImage {
  width: 100%;
  display: block;
}

.introParagraph h2 {
  font-size: 50px;
  font-weight: 500;
  text-align: left;
}

.introParagraph p {
  text-align: left;
  font-size: 35px;
  opacity: 0.7;
  margin-top: 80px;
}
